%h1 GAME

%h2
  HOME:
  =@home.team_name

.score
  %h1
    =@game.home_score
    =link_to " SCORE!!", add_home_match_game_path(@match, @game)

%h2
  AWAY:
  =@away.team_name

.score
  %h1
    =@game.away_score
    =link_to " SCORE!!", add_away_match_game_path(@match, @game)

%br
  = link_to "Go back to match board", match_path(@match)