%h1 GAME
-if @game.ended?
  %h2 THE ROUND HAS ENDED
  %h2 WINNER: #{@game.winner_name.upcase}

%h2
  HOME: #{@home.team_name}

.score
  %h1
    =@game.home_score
    -if !@game.ended?
      =link_to " SCORE!!", add_home_match_game_path(@match, @game)

%h2
  AWAY:
  =@away.team_name

.score
  %h1
    =@game.away_score
    -if !@game.ended?
      =link_to " SCORE!!", add_away_match_game_path(@match, @game)

%br
  = link_to "Go back to match board", match_path(@match)
