.navbar.navbar-default
  %ul.navbar-nav.nav
    %li
      =link_to "Start New Match", new_match_path
    %li
      =link_to "Register Players", new_user_path
    %li
      =link_to "View Players", users_path
-@matches.each do |match|
  .match
    %h1
      =link_to "Match ##{match.id}", match_path(match)
      -if match.winner_id.nil?
        %span.label.label-default.label-ongoing On Going
