%h1 Matches#index
%p Find me in app/views/matches/index.html.haml

-@matches.each do |match|
  .match
    %h2
      =link_to "Match ##{match.id}", match_path(match)

=link_to "Start New Match", new_match_path
%br
=link_to "Register Players", new_user_path
%br
=link_to "View Players", users_path